<!--        <h1> {{title}}</h1>
     <h3>
         {{unContact.name}}
         <small>{{unContact.email}}</small>
     </h3>
        <ul>
         <li *ngFor="let contact of mesContacts">
           {{contact.name}} {{contact.email}}
          </li>
        </ul>-->


<div class="container">
  <header class="mb-4">
    <nav class="navbar navbar-dark bg-dark">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">
          {{title}}
        </a>
      </div>
    </nav>
  </header>
  <div class="row">
<!-- liste des contacts-->
      <div class="col-sm-4">
        <div class="list-group">
          <a href="#"
             *ngFor='let contact of mesContacts'
             (click)="displayContact(contact)"
             [class.active] = "contact === contactProfil"
             class="list-group-item list-group-item-action">
            {{contact.name}}
          </a>
        </div> <!-- fin list-groupe -->
        <app-new-contact (newContactEvent)="addContact($event)"></app-new-contact>
      </div> <!--fin col-sm-4 -->
<!-- profil du contact-->
    <div class="col-sm-8">
<app-profil [contactProfil]="contactProfil"></app-profil> <!-- afficher le composant ProfilComponent -->
    </div> <!-- fin col sm-8-->
  </div> <!-- fin du row -->
</div> <!-- fin du container-->
